body, html{
    height: 100%;
    width: 100%;
    background: url("../images/winter_background.jpg") center no-repeat;
    background-size: cover;

}

header{
    width: 100%;
    height: 10%;
}

/*First Block: Problem Deff*/
#first_block {
    display: none;
}

#problemDef_title{
    text-align: center;
    margin-top: 4px;
}

#problemDef_text{
    padding: 10px 10px 10px 10px;
    font-family: "Fira Code Medium";

}

#panel {
    //background-color: indigo;
    background-color: #235E6F;
}

/*First Block: Form*/
#second_block{
    display: none;
}
#form_panel{
    margin-top: 5%;
    padding-bottom: 1%;
    //background-color: brown;
    background-color: #F5624D;
}

#title_label{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 4px;
}

label{
    font-family: "Fira Code Medium";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

/*First Block: Ress*/
#result_block{
    display: none;
}
#result_panel{
    //background-color: darkorchid;
    margin-top: 5%;
    padding-bottom: 1%;
    background-color: #0F8A5F;
}
#result_title{
    text-align: center;
}
#result_text{
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: "Fira Code Medium";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;

}

/*First Block: Errr= panel*/
#error_block{
    display: none;
}
#error_panel{
    //background-color: darkorchid;
    margin-top: 5%;
    padding-bottom: 1%;
    background-color: #CC231E;
}

#error_title{
    text-align: center;
}
#error_text{
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: "Fira Code Medium";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
